<!DOCTYPE html>
<html>
<head>
  <title>Diabetes Prediction</title>
  
  <style>
    #prediction {
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      opacity: 0;
      transition: opacity 0.5s;  
    }
    
    #prediction.visible {
      opacity: 1;
    }
  </style>
</head>

<body>

  <h2>Diabetes Prediction</h2>

  <form id="prediction-form">

	<label for="pregnancies">How many pregnancies has the patient had?</label><br>
        <input type="number" id="pregnancies" name="Pregnancies"><br>
        
        <label for="glucose">What is the patient's Glucose?</label><br>
        <input type="number" id="glucose" name="Glucose"><br>
        
        <label for="bloodPressure">What is the patient's Blood Pressure?</label><br>
        <input type="number" id="bloodPressure" name="BloodPressure"><br>
        
        <label for="skinThickness">What is the patient's Skin Thickness?</label><br>
        <input type="number" id="skinThickness" name="SkinThickness"><br>
        
        <label for="insulin">What is the patient's Insulin?</label><br>
        <input type="number" id="insulin" name="Insulin"><br>
        
        <label for="bmi">What is the patient's BMI?</label><br>
        <input type="number" step="0.01" id="bmi" name="BMI"><br>
        
        <label for="diabetesPedigreeFunction">What is the patient's Diabetes Pedigree Function?</label><br>
        <input type="number" step="0.001" id="diabetesPedigreeFunction" name="DiabetesPedigreeFunction"><br>
        
        <label for="age">What is the patient's Age?</label><br>
        <input type="number" id="age" name="Age"><br><br>
    
    <button type="submit">Predict</button>

  </form>

  <div id="prediction"></div>

  <script>
    const form = document.getElementById('prediction-form');
    const predictionElement = document.getElementById('prediction');

    form.addEventListener('submit', async e => {
      e.preventDefault();
      
      const response = await fetch('/predict', {
        method: 'POST', 
        body: new FormData(form)
      });

      const prediction = await response.text();

      predictionElement.innerText = prediction;  
      predictionElement.classList.add('visible');
    });
  </script>

</body>
</html>
 
